#define SK(KEY) &nk KEY KEY

#define HRA &hrasA LSHIFT A
#define HRR &hrasR LGUI R
#define HRS &hrasS LALT S
#define HRT &hrasT LCTL T
#define HRN &hrasN RCTL N
#define HRE &hrasE RALT E
#define HRI &hrasI RGUI I
#define HRO &hrasO RSHIFT O

#define RMODS (MOD_RGUI|MOD_RSFT|MOD_RALT|MOD_RCTL)
#define LMODS (MOD_LGUI|MOD_LSFT|MOD_LALT|MOD_LCTL)
#define ALLMODS (MOD_LGUI|MOD_LSFT|MOD_LALT|MOD_LCTL|MOD_RGUI|MOD_RSFT|MOD_RALT|MOD_RCTL)

as: auto_shift {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp &kp>;
};

asr: auto_shift_ring {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT_RING";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_RING>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp &kp>;
};

asp: auto_shift_pinky {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT_PINKY";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp &kp>;
};

nk: not_so_sticky_key {
    compatible = "zmk,behavior-hold-tap";
    label = "not so sticky key";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp &sk>;
};

hrm: hrm {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_MOD";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp &kp>;
};

swap: swap {
    compatible = "zmk,behavior-smart-interrupt";
    label = "SWAPPER";
    #binding-cells = <0>;
    bindings = <&kt LALT AS(TAB) &kt LALT>;
    ignored-key-positions = <LT2 LM1 LM2 LM3>;
};

leftmm: leftmm {
    compatible = "zmk,behavior-mod-morph";
    label = "leftmm";
    #binding-cells = <0>;
    bindings = <&kp LEFT &kp UP>;
    mods = <RMODS>;
};

rightmm: rightmm {
    compatible = "zmk,behavior-mod-morph";
    label = "rightmm";
    #binding-cells = <0>;
    bindings = <&kp RIGHT &kp DOWN>;
    mods = <LMODS>;
};

bspcdel: bspcdel {
    compatible = "zmk,behavior-mod-morph";
    label = "bspcdel";
    #binding-cells = <0>;
    bindings = <&kp BSPC &kp DELETE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    masked_mods = <(MOD_RSFT)>;
};

ltnum: ltnum {
    compatible = "zmk,behavior-hold-tap";
    label = "ltnum";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&mo &bspcdel>;
};

ltnav: ltnav {
    compatible = "zmk,behavior-hold-tap";
    label = "ltnav";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&mo &spcmin>;
};

spcmin: spcmin {
    compatible = "zmk,behavior-mod-morph";
    label = "navspcmin";
    #binding-cells = <0>;
    bindings = <&kp SPC &kp MINUS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    masked_mods = <(MOD_RSFT)>;
};

arrow_enc: arrow_enc {
    compatible = "zmk,behavior-sensor-rotate";
    label = "ARROW_ENCODER";
    #sensor-binding-cells = <0>;
    bindings = <&kp RIGHT &leftmm>;
};

arrow_enc2: arrow_enc2 {
    compatible = "zmk,behavior-sensor-rotate";
    label = "ARROW_ENCODER2";
    #sensor-binding-cells = <0>;
    bindings = <&rightmm &kp UP>;
};

mmv_enc: mmv_enc {
    compatible = "zmk,behavior-sensor-rotate";
    label = "MMV_ENCODER";
    #sensor-binding-cells = <0>;
    bindings = <&mmv MOVE_HOR(3000) &mmv MOVE_HOR(-3000)>;
    tap-ms = <100>;
};

mmv_enc2: mmv_enc2 {
    compatible = "zmk,behavior-sensor-rotate";
    label = "MMV_ENCODER2";
    #sensor-binding-cells = <0>;
    bindings = <&mmv MOVE_VERT(3000) &mmv MOVE_VERT(-3000)>;
    tap-ms = <100>;
};

mwh_enc: mwh_enc {
    compatible = "zmk,behavior-sensor-rotate";
    label = "MMV_ENCODER";
    #sensor-binding-cells = <0>;
    bindings = <&mwh SCROLL_RIGHT &mwh SCROLL_LEFT>;
    tap-ms = <100>;
};

mwh_enc2: mwh_enc2 {
    compatible = "zmk,behavior-sensor-rotate";
    label = "MMV_ENCODER2";
    #sensor-binding-cells = <0>;
    bindings = <&mwh SCROLL_VERT(-20) &mwh SCROLL_VERT(20)>;
    tap-ms = <100>;
};

none_enc: none_enc {
    compatible = "zmk,behavior-sensor-rotate";
    label = "NONE_ENCODER";
    #sensor-binding-cells = <0>;
    bindings = <&none &none>;
};
