/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT0 LT1 LT2 LT3 LT4 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM0 LM1 LM2 LM3 LM4 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB0 LB1 LB2 LB3 LB4 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH0 LH1 LH2 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM 30

#define COMBO(NAME, TIMEOUT, KEYS, BINDINGS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <TIMEOUT>; \
        key-positions = <KEYS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
    };

combos {

    compatible = "zmk,combos";

    COMBO(equa, COMBO_TERM, LT0 LT1, AS(EQUAL), BASE NUM)
    COMBO(amps, COMBO_TERM, LT1 LT2, &kp AMPS, BASE NUM)
    COMBO(star, COMBO_TERM, LT2 LT3, &kp STAR, BASE NUM)
    COMBO(dash, COMBO_TERM, RT1 RT2, AS(MINUS), BASE NUM)
    COMBO(semi, COMBO_TERM, RT2 RT3, AS(SEMI), BASE NUM)
    COMBO(grav, COMBO_TERM, RT3 RT4, AS(GRAVE), BASE NUM)

    COMBO(none, COMBO_TERM, LM0 LM1 LM2 LM3 RM1 RM2 RM3 RM4, &tog NOTHING, BASE NOTHING)
    COMBO(lbkt, COMBO_TERM, LM1 LB1, AS(LBKT), BASE)
    COMBO(lbrc, COMBO_TERM, LM2 LB2, &kp LBRC, BASE)
    COMBO(lpar, COMBO_TERM, LM3 LB3, &kp LPAR, BASE)
    COMBO(rpar, COMBO_TERM, RM1 RB1, &kp RPAR, BASE)
    COMBO(rbrc, COMBO_TERM, RM2 RB2, &kp RBRC, BASE)
    COMBO(rbkt, COMBO_TERM, RM3 RB3, AS(RBKT), BASE)

    COMBO(excla, COMBO_TERM, LB1 LB2, &kp EXCLAMATION, BASE)
    COMBO(esc, COMBO_TERM, LB2 LB3, &kp ESC, BASE)
    COMBO(tab, COMBO_TERM, RB1 RB2, &kp TAB, BASE)
    COMBO(hash, COMBO_TERM, RB2 RB3, &kp HASH, BASE NUM)


    COMBO(lthumb, COMBO_TERM, LH1 LH2, &lt FUN ESC, BASE)
    COMBO(game, COMBO_TERM, LH1 RH1, &tog GAME, BASE GAME)
    COMBO(steno, COMBO_TERM, LH2 RH0, &tog STENO, BASE STENO)
    COMBO(rthumb, COMBO_TERM, RH0 RH1, &lt MOUSE TAB, BASE)
};
