#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/dynamic-macros.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE    0 1
#define PC      0
#define MAC     1
#define GAME    2
#define GAMET   3
#define NAV     4
#define MOUSE   5
#define MEDIA   6
#define NUM     7
#define SYM     8
#define FUNC    9
#define NOTHING 10
#define STENO   11

#define TAPPING_TERM 200
#define TAPPING_TERM_RING 250
#define TAPPING_TERM_PINKY 300
#define QUICK_TAP_TERM 300

&lt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
};

&sk {
    ignore-modifiers;
    release-after-ms = <3000>;
};

// &mmv {
//     delay-ms = <0>;
//     acceleration-exponent=<1>;
//     time-to-max-speed-ms = <500>;
// };
//
// &mwh {
//     delay-ms = <0>;
//     acceleration-exponent=<1>;
//     time-to-max-speed-ms = <0>;
// };

&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};
