#define MACRO_TAP_TERM 10
#define MACRO_WAIT_TERM 10

#define MACRO(NAME, WAIT, TAP, BINDINGS) \
    NAME: NAME { \
        compatible = "zmk,behavior-macro"; \
        label = ZMK_MACRO_STRINGIFY(macro_##NAME); \
        #binding-cells = <0>; \
        wait-ms = <WAIT>; \
        tap-ms = <TAP>; \
        bindings = <BINDINGS>; \
};

MACRO(ptrun, MACRO_WAIT_TERM, MACRO_TAP_TERM, &kp LA(SPC))
MACRO(tog_gametype, MACRO_WAIT_TERM, MACRO_TAP_TERM, &kp RET &tog GAME &tog GAMET)
MACRO(work_awake, MACRO_WAIT_TERM, MACRO_TAP_TERM, &out OUT_BLE &bt BT_SEL 2 &kp A &last_dev)
MACRO(leader2, MACRO_WAIT_TERM, MACRO_TAP_TERM, &macro_press &mo NUM &macro_tap &leader &macro_release &mo NUM)
MACRO(leader3, MACRO_WAIT_TERM, MACRO_TAP_TERM, &macro_press &mo NAV &macro_tap &leader &macro_release &mo NAV)

dm1: dm1 {
    compatible = "zmk,behavior-dynamic-macro";
    label = "dynamic-macro-1";
    wait-ms = <10>;
    #binding-cells = <1>;
    no-output;
};
