/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT0 LT1 LT2 LT3 LT4 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM0 LM1 LM2 LM3 LM4 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB0 LB1 LB2 LB3 LB4 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH0 LH1 LH2 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM 50

#define COMBO(NAME, TIMEOUT, KEYS, BINDINGS, LAYERS) \
    combo_##NAME { \
          timeout-ms = <TIMEOUT>; \
          key-positions = <KEYS>; \
          bindings = <BINDINGS>; \
          layers = <LAYERS>; \
    };

combos {

    compatible = "zmk,combos";

    COMBO(lthumb, COMBO_TERM, LH1 LH2, &lt FUN ESC, BASE)
    COMBO(rthumb, COMBO_TERM, RH0 RH1, &lt MOUSE TAB, BASE)
    COMBO(ltesc, COMBO_TERM, LT2 LT3, &kp ESC, BASE)
    COMBO(rttab, COMBO_TERM, RT1 RT2, &kp TAB, BASE)

    COMBO(hmrl_par, COMBO_TERM, LM1 LB1, &mparen, BASE)
    COMBO(hmrl_bkt, COMBO_TERM, LM2 LB2, &mbracket, BASE)
    COMBO(hmrl_brc, COMBO_TERM, LM3 LB3, &mbrace, BASE)
    COMBO(hmrr_par, COMBO_TERM, RM3 RB3, &mparen, BASE)
    COMBO(hmrr_bkt, COMBO_TERM, RM2 RB2, &mbracket, BASE)
    COMBO(hmrr_brc, COMBO_TERM, RM1 RB1, &mbrace, BASE)
    COMBO(dash, COMBO_TERM, RB1 RB2, &as LS(MINUS) MINUS, BASE NUM)
    COMBO(semi, COMBO_TERM, RB2 RB3, &as LS(SEMI) SEMI, BASE NUM)

    COMBO(none, COMBO_TERM, LM0 LM1 LM2 LM3 RM1 RM2 RM3 RM4, &tog NOTHING, BASE NOTHING)
    COMBO(game, COMBO_TERM, LH1 RH1, &tog GAME, BASE GAME)

};
