/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT0 LT1 LT2 LT3 LT4 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM0 LM1 LM2 LM3 LM4 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB0 LB1 LB2 LB3 LB4 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH0 LH1 LH2 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define LEADER(NAME, KEYS, BINDINGS, LAYERS) \
    leader_##NAME { \
        key-positions = <KEYS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
    };

leader_sequences {

    compatible = "zmk,leader-sequences";

    LEADER(terminal, LM3, &kp LG(GRAVE), BASE)
    LEADER(browser, LT4, &kp LG(N1), BASE)
    LEADER(discord, LB3, &kp LG(N2), BASE)
    LEADER(spotify, LM2, &kp LG(N3), BASE)

    LEADER(reset, LM1, &reset, BASE)
    LEADER(bootloader, LT4 RT1, &bootloader, BASE)

    LEADER(delete, LH2, &kp DEL, BASE)
};
