#include "includes/general.dtsi"
#include "includes/layers.dtsi"

/ {

    #include "includes/autoshift.dtsi"
    #include "includes/behaviors.dtsi"
    #ifndef NO_COMBOS
    #include "includes/combos.dtsi"
    #endif
    #include "includes/macros.dtsi"

    #ifdef THREEXFIVE
    #include "includes/3x5.keymap"
    #elif defined(THREEXSIX)
    #include "includes/3x6.keymap"
    #elif defined(FOURXTWELVE)
    #include "includes/4x12.keymap"
    #endif

};
