#include "general.dtsi"
#include "layers.dtsi"

/ {

    #include "autoshift.dtsi"
    #include "behaviors.dtsi"
    #ifndef NO_COMBOS
    #include "combos.dtsi"
    #endif
    #include "macros.dtsi"

    #ifdef THREEXFIVE
    #include "3x5.keymap"
    #elif defined(FOURXTWELVE)
    #include "4x12.keymap"
    #endif

};
