hra: hra {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_A";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(A)>;
};

hrr: hrr {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_R";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_RING>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(R)>;
};

hrs: hrs {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_S";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(S)>;
};

hrt: hrt {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_T";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(T)>;
};

hrn: hrn {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_N";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(N)>;
};

hre: hre {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_E";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(E)>;
};

hri: hri {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_I";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_RING>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(I)>;
};

hro: hro {
    compatible = "zmk,behavior-hold-tap";
    label = "HOME_ROW_O";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&kp>, <&kp>;
    retro-tap;
    retro-tap-behavior = "KEY_PRESS";
    retro-tap-param1 = <LS(O)>;
};

hrtdA: hrtdA {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdA";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    bindings = <&hra LSHIFT A>, <&kp A>;
    on-each-press;
};

hrtdR: hrtdR {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdR";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM_RING>;
    bindings = <&hrr LGUI R>, <&kp R>;
    on-each-press;
};

hrtdS: hrtdS {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdS";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM>;
    bindings = <&hrs LALT S>, <&kp S>;
    on-each-press;
};

hrtdT: hrtdT {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdT";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM>;
    bindings = <&hrt LCTL T>, <&kp T>;
    on-each-press;
};

hrtdO: hrtdO {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdO";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    bindings = <&hra LSHIFT O>, <&kp O>;
    on-each-press;
};

hrtdI: hrtdI {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdI";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM_RING>;
    bindings = <&hrr LGUI I>, <&kp I>;
    on-each-press;
};

hrtdE: hrtdE {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdE";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM>;
    bindings = <&hrs LALT E>, <&kp E>;
    on-each-press;
};

hrtdN: hrtdN {
    compatible = "zmk,behavior-tap-dance";
    label = "hrtdN";
    #binding-cells = <0>;
    tapping-term-ms = <TAPPING_TERM>;
    bindings = <&hrn LCTL N>, <&kp N>;
    on-each-press;
};

bht: balanced_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    label = "BALANCED_HOLD_TAP";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
};

hht: hold_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    label = "HOLD_HOLD_TAP";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
};

tht: tap_hold_tap {
    compatible = "zmk,behavior-hold-tap";
    label = "TAP_HOLD_TAP";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
};

altq: altq {
    compatible = "zmk,behavior-mod-morph";
    label = "ALT_Q";
    #binding-cells = <0>;
    bindings = <&asmmQ>, <&kp F4>;
    mods = <(MOD_LALT)>;
};

wing: wing {
    compatible = "zmk,behavior-mod-morph";
    label = "WIN_GRAVE";
    #binding-cells = <0>;
    bindings = <&altq>, <&kp GRAVE>;
    mods = <(MOD_LGUI)>;
};

atn: atn {
    compatible = "zmk,behavior-mod-morph";
    label = "ALT_TAB_N";
    #binding-cells = <0>;
    bindings = <&hrtdN>, <&as LS(TAB) TAB>;
    mods = <(MOD_LALT)>;
};

dcv: dcv {
    compatible = "zmk,behavior-mod-morph";
    label = "D_C_V";
    #binding-cells = <0>;
    bindings = <&asmmD>, <&asmmV>;
    mods = <(MOD_LCTL)>;
};

vcd: vcd {
    compatible = "zmk,behavior-mod-morph";
    label = "V_C_D";
    #binding-cells = <0>;
    bindings = <&asmmV>, <&asmmD>;
    mods = <(MOD_LCTL)>;
};

as: auto_shift {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

asr: auto_shift_ring {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT_RING";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_RING>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

asp: auto_shift_pinky {
    compatible = "zmk,behavior-hold-tap";
    label = "AUTO_SHIFT_PINKY";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM_PINKY>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
};

nk: not_so_sticky_key {
    compatible = "zmk,behavior-hold-tap";
    label = "not so sticky key";
    #binding-cells = <2>;
    tapping-term-ms = <TAPPING_TERM>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&sk>;
};

#define SK(KEY) &nk KEY KEY
