combos {

    compatible = "zmk,combos";

    /* #include "combo_shift.dtsi" */

    combo_none {
        timeout-ms = <50>;
        key-positions = <13 14 15 16 19 20 21 22>;
        bindings = <&tog NOTHING>;
        layers = <COLE NOTHING>;
    };

};
