#define SC(letter, position) \
    sc##letter: sc##letter { \
        timeout-ms = <50>; \
        key-positions = <##position 40>; \
        bindings = <&kp LS(##letter)>; \
        layers = <COLE>; \
    }; \
 \

 SC(Q, 1)
 SC(W, 2)
 SC(F, 3)
 SC(P, 4)
 SC(B, 5)
 SC(J, 6)
 SC(L, 7)
 SC(U, 8)
 SC(Y, 9)
 SC(SEMI, 10)

 SC(A, 13)
 SC(R, 14)
 SC(S, 15)
 SC(T, 16)
 SC(G, 17)
 SC(M, 18)
 SC(N, 19)
 SC(E, 20)
 SC(I, 21)
 SC(O, 22)

 SC(Z, 25)
 SC(X, 26)
 SC(C, 27)
 SC(D, 28)
 SC(V, 29)
 SC(K, 30)
 SC(H, 31)
 SC(CMMA 32)
 SC(DOT, 33)
 SC(SLASH, 34)
