/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAVL    1
#define MOUSEL  2
#define MEDIAL  3
#define NUMR    4
#define SYMR    5
#define FUNCR   6
#define GAME    7
#define QWERTY  8
#define QGAME   9

/ {
        keymap {
                compatible = "zmk,keymap";

                DEFAULT {
                    bindings = <
    &kp TAB   &kp Q       &kp W      &kp F      &kp P       &kp B                                 &kp J &kp L        &kp U      &kp Y      &kp SQT     &kp BSLH
    &kp BKSP  &mt LSHFT A &mt LGUI R &mt LALT S &mt LCTRL T &kp G                                 &kp M &mt RCTRL N  &mt RALT E &mt RGUI I &mt RCTRL O &kp SEMI
    &kp LSHFT &kp Z       &kp X      &kp C      &kp D       &kp V                                 &kp K &kp H        &kp COMMA  &kp DOT    &kp FSLH    &kp RSHFT
                         &lt FUNCR ESC &lt NUMR BKSP &lt SYMR TAB                                 &lt MOUSEL ENTER &lt NAVL SPACE &lt MEDIAL DEL
                    >;
                };

                NAVL {
                    bindings = <
    &trans &kp PG_UP  &kp HOME     &kp UP        &kp END        &trans                            &trans &trans            &trans   &trans   &trans    &trans
    &trans &kp PG_DN  &kp LEFT     &kp DOWN      &kp RIGHT      &kp CAPS                          &trans &kp RCTRL         &kp RALT &kp RGUI &kp RSHFT &trans
    &trans &kp K_UNDO &kp C_AC_CUT &kp C_AC_COPY &kp C_AC_PASTE &kp INS                           &trans &kp RG(RC(RIGHT)) &trans   &trans   &trans    &trans
                                                    &trans &trans &trans                          &trans &trans &trans
                    >;
                };

                MOUSEL {
                    // *******************************************************************************************************
                    bindings = <
    &trans &kp PG_UP  &kp HOME  &kp UP     &kp END     &trans                                     &trans &trans    &trans   &trans   &trans    &trans
    &trans &kp PG_DN  &kp LEFT  &kp DOWN   &kp RIGHT   &kp CAPS                                   &trans &kp RCTRL &kp RALT &kp RGUI &kp RSHFT &trans
    &trans &kp K_UNDO &kp K_CUT &kp K_COPY &kp K_PASTE &kp INS                                    &trans &trans    &trans   &trans   &trans    &trans
                                           &trans &trans &trans                                   &trans &trans &trans
                    >;
                };

                MEDIAL {
                    bindings = <
    &trans &trans       &trans       &trans       &trans       &trans                             &trans &trans    &trans   &trans   &trans    &trans
    &trans &trans       &kp C_MUTE   &kp C_PREV   &kp C_NEXT   &trans                             &trans &kp RCTRL &kp RALT &kp RGUI &kp RSHFT &trans
    &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                       &trans &trans    &trans   &trans   &trans    &trans
                                                &trans &kp C_PP &kp C_STOP                        &trans &trans &trans
                    >;
                };

                NUMR {
                    bindings = <
    &trans &trans    &trans   &trans   &trans           &trans                                    &kp LBKT  &kp N7 &kp N8 &kp N9 &kp RBKT &trans
    &trans &kp LSHFT &kp LGUI &kp LALT &kp LCTRL        &trans                                    &kp EQUAL &kp N4 &kp N5 &kp N6 &kp SEMI &trans
    &trans &trans    &trans   &trans   &kp LG(LC(LEFT)) &trans                                    &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH &trans
                                               &trans &trans &trans                               &kp MINUS &kp N0 &kp DOT
                    >;
                };

                SYMR {
                    bindings = <
    &trans &trans    &trans   &trans   &trans    &trans                                           &kp LBKT  &kp AMPS &kp STAR  &kp LPAR  &kp RBKT  &trans
    &trans &kp LSHFT &kp LGUI &kp LALT &kp LCTRL &trans                                           &kp PLUS  &kp DLLR &kp PRCNT &kp CARET &kp COLON &trans
    &trans &trans    &trans   &trans   &trans    &trans                                           &kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE  &trans
                                   &trans &trans &trans                                           &kp UNDER &kp RPAR &kp GT
                    >;
                };

                FUNCR {
                    bindings = <
    &trans &trans    &trans   &trans   &trans    &trans                                           &kp PSCRN       &kp F7 &kp F8 &kp F9 &kp RBKT &trans
    &trans &kp LSHFT &kp LGUI &kp LALT &kp LCTRL &trans                                           &kp SLCK        &kp F4 &kp F5 &kp F6 &kp SEMI &trans
    &trans &trans    &trans   &trans   &trans    &trans                                           &kp PAUSE_BREAK &kp F1 &kp F2 &kp F3 &kp BSLH &trans
                                   &trans &trans &trans                                           &trans &trans &trans
                    >;
                };

                GAME {
                    bindings = <
    &trans &trans &trans &trans &trans &trans                                                     &trans &trans &trans &trans &trans &trans
    &trans &kp A  &kp R  &kp S  &kp T  &trans                                                     &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans                                                     &trans &trans &trans &trans &trans &trans
                 &kp LALT &kp SPACE &kp LCTRL                                                     &trans &trans &trans
                    >;
                };

                QWERTY {
                    bindings = <
    &kp TAB   &kp Q       &kp W      &kp E      &kp R       &kp T                                 &kp Y &kp U        &kp I      &kp O      &kp P          &kp BSLH
    &kp BKSP  &mt LSHFT A &mt LGUI S &mt LALT D &mt LCTRL F &kp G                                 &kp H &mt RCTRL J  &mt RALT K &mt RGUI L &mt RCTRL SEMI &kp SEMI
    &kp LSHFT &kp Z       &kp X      &kp C      &kp V       &kp B                                 &kp N &kp M        &kp COMMA  &kp DOT    &kp FSLH       &kp RSHFT
                         &lt FUNCR ESC &lt NUMR BKSP &lt SYMR TAB                                 &lt MOUSEL ENTER &lt NAVL SPACE &lt MEDIAL DEL
                    >;
                };

                QGAME {
                    bindings = <
    &trans &kp Q &kp W &kp E &kp R &kp T                                                          &trans &trans &trans &trans &trans &trans
    &trans &kp A &kp S &kp D &kp F &kp G                                                          &trans &trans &trans &trans &trans &trans
    &trans &kp Z &kp X &kp C &kp V &kp B                                                          &trans &trans &trans &trans &trans &trans
               &kp LALT &kp SPACE &kp LCTRL                                                       &trans &trans &trans
                    >;
                };

        };

};
